@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 88%;
    margin: auto;
}
 .d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*
HEADER
*/

.header .left  .ashion{
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
}

.header .center .menu {
    padding-top: 1.5rem;
}

.header .right {
    text-align: right;
    padding-top: 1.5rem;
}

.header .right button:nth-child(3),
i {
    margin-right: 0.5rem;
}

.header .longline {
    height: .7rem;
    background-color: #F5F5F5;
    background-image: linear-gradient(#f5f0f0, #c0bcbc);
    border: none;
}

.header button ,
.fashionheader button {
    margin-right: 7px;
    border: none;
    background-color: white;
    letter-spacing: 1.2px;
}
.fashionheader button{
    margin-left: 0.7rem;
}

/*
HEADER end
*/


/*
section Fashion
*/

.fashion .left{
    width:  49.8%;
    background-color: burlywood;
    height: 100vh;
    background-image: url("../img/leftbg.jpg");
    background-size: cover;
     position: relative; 
 }  
 .fashion .right{
     width: 49.5%;
     height: 100vh;
 }
   .fashion .left .text{
      min-height: 40px;
      width: 70%;
      position: absolute;
      top: 200px;
      left: 40px;
  } 
  .fashion .right .box{
      width: 49.4%; 
      height: 49.4vh;
      position: relative;
      background-size: cover;
      background-position: center;
  } 
  .fashion .right .box .text {
    width: 50%;
    position: absolute;
    top: 100px;
    left: 40px;
  }
  .fashion .btn{
      border: none; 
  }
   .line{
      height: 0.18rem;
      background-color: #CA1515;
      width: 75px;
      border: none;
      margin-top: 0.2rem;
  }
  .fashion  p {
      margin: 0.3rem 0 1rem  0;
  }

  /*
sevtion fashion end
*/

/*
section 
*/
.fashionheader .img{
    height: 400px;
    width: 23%;
    object-fit: cover;
    margin-top: 2rem;
    background-color: blue;
}